<html>
<body>

<form method="post" action="/createstudent">

<input  type="text" placeholder="FirstName"  name="First_Name">
<input  type="text" placeholder="LastName"  name="Last_Name">
<br>
 <input  type="text" placeholder="Email"  name="Email">
<br>
<br>
<input type="radio" name="gender" value="Male"> Male
<br>
<input type="radio" name="gender" value="Female"> Female
<br>
<input type="checkbox" value="C" name="plang">C
<br>
<input type="checkbox" value="CPP" name="plang">CPP
<br>
<input type="checkbox" value="JAVA" name="plang">JAVA
<br>
 <select name="os">
 <option>Win</option>
 <option>Linux</option>
 <option>Mac</option>
 </select> 
<br>
<br>
 <select name="city" multiple>
 <option>abad</option>
 <option>Pune</option>
 <option>Nashik</option>
 </select> 
<br>
<br>

<br>
<input  type="submit" value="save">
</form>

</body>


</html>