<html>

<body >
<h1> ----> Table Assignment</h1>

<table border="3" >
<th> ID </th>
<th> Name </th>

<tr>
<td> 100 </td>
 <td><a href ="http://www.google.com" sudam</a> sudam</td> 
</tr>

<tr>
<td> 200 </td>
<td> sk </td>	

</tr>

<tr>
<td> 300 </td>
<td> arjun </td>	

</tr>
	</table>
	
	<br>
	<br>
	<br>


	<img src ="/images/smile.jpeg" alt = "image Not Found" width = 200 height = 200>
	<img src ="/images/car.jpg" alt = "image Not Found" width = 200 height = 200>
		


<br>
<br>
<br>
<br>



      <form method = "get" action="/sayhello">
      
      <input type = "text" name="uname">
      <br>
      <input type = "password" name="upass">
      <br>
      <input type = "submit" value="OK">
      </form>



<br>
<br>


      <form method = "get" action="/sayhello">
      
      <td> UserName </td>
      <input type = "text" name="uname">
      <br>
      
      <td> Password </td>
      <input type = "password" name="upass">
      <br>
      <input type = "submit" value="LOGIN">
      </form>

</body>
</html>